# Data stays out of git (licence + size). folds.csv is the exception: commit it for reproducibility.
data/raw/
data/processed/*
!data/processed/folds.csv
data/features/
data_synthetic/
results/models/
*.pt
__pycache__/
.ipynb_checkpoints/
.DS_Store
.vscode/
logs/
data/processed_tie_*/*
!data/processed_tie_*/folds.csv
.pytest_cache/
.venv/
# LaTeX build files
paper/latex/*.aux
paper/latex/*.bbl
paper/latex/*.blg
paper/latex/*.log
paper/latex/*.out
paper/latex/*.spl
paper/*.zip
*.egg-info/
build/
